.modal{
    background: var(--color-1);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-radius: 10px;
    color: var(--text-color);
    width: 80%;
    max-width: 72rem;
    font-size: var(--small-font-size);
    top: 5rem;
}

.modal__main{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.modal__main__list{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}

.modal__main__list-val{
    gap: 0.2rem;
}

.modal__main__list__item-key{
    position: relative;
}

.modal__main__list__item-key__content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 1.2rem;
    border-radius: 10px;
    background: var(--color-2);
    position: relative;
    z-index: 2;
    min-height: 25px;
}

.modal__main__list__item-key__content:hover{
    min-height: 20px;
    border: 2px solid var(--primary-color);
}

.modal__main__list__item-key__content__name{
    margin-right: auto;
}

.modal__main__list__item-key__content__count{
    background: var(--color-3);
    border-radius: 15px;
    padding: 0.2rem 0.8rem;
    margin-right: 0.5rem;
    font-size: var(--very-small-font-size);
}

.modal__main__list__item-key__clear{
    all: unset;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    background: var(--color-10);
    border-radius: 0 5px 5px 0;
    right: 0;
    top: 1rem;
    visibility: hidden;
    cursor: pointer;
    z-index: 1;
    transform: translateX(0%);
    transition-duration: 200ms;
    transition-timing-function: linear;
}

.modal__main__list__item-key:hover .modal__main__list__item-key__clear{
    visibility: unset;
    transform: translateX(90%);
}

.modal__main__list__item-val{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 1.2rem;
    border-radius: 10px;
    background: var(--color-2);
    position: relative;
    cursor: pointer;
}

.modal__main__list__item-val:hover{
    background: var(--color-9);
}

.modal__main__list__item-val__input{
    position: absolute;
}

.modal__main__list__item-val__icon{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
    background: var(--color-8);
    fill: white;
}

.modal__main__list__item-val__icon__svg{
    opacity: 50%;
    height: 1rem;
    width: 1rem;
}

.modal__footer{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-left: auto;
}

.modal__footer__btn-reset{
    color: var(--color-5);
    background: var(--text-color);
}

.modal__footer__btn-show{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.7rem;
    background: var(--primary-color);
}
