/******* Define all variable that you want to use ***********/

:root{
    font-family: "Nunito Sans", sans-serif;
    line-height: 1.15;
    font-style: normal;

    --large-font-size: 36px;
    --semi-large-font-size: 30px;
    --medium-font-size: 26px;
    --semi-medium-font-size: 22px;
    --small-font-size: 18px;
    --semi-small-font-size: 16px;
    --very-small-font-size: 12px;

    --large-font-weight: 800;
    --semi-large-font-weight: 700;
    --medium-font-weight: 600;
    --semi-medium-font-weight: 500;

    /* Major Colors */
    --primary-color: #4e6efe; /* Ultramarine Blue */
    --bg-color: #f5f7f7; /* Cultured */
    --text-color: #ffffff; /* White */

    /*Color palette: Get color name from: https://www.color-name.com/hex/283339 */
    --color-1: #283339; /* Gunmetal */
    --color-2: #39474e; /* Charcoal */
    --color-3: #5d686d; /* Black Coral */
    --color-4: #29a38d; /* Jungle Green */
    --color-5: #38239d; /* Blue (Pigment) */
    --color-6: #8f989c; /* Spanish Gray */
    --color-7: #e4eaeb; /* Bright Gray */
    --color-8: #53dfbf; /* Medium Turquoise */
    --color-9: #1c7f6e; /* Deep Green-Cyan Turquoise */
    --color-10: #d0d9da; /* Light Silver */
}

/*************************************************************/


/**
* Reset Reloaded : To reset all default HTML code
* http://meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/
Reset all default HTML tag style so that we can use them
instead of `div` and style according to our need.
 As using these tag will provide semantic meaning which
 better than using ARIA and allow better accessibility
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
    outline: 0;
}
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100vh;
    background-color: var(--bg-color);
    -webkit-font-smoothing: antialiased;
}
ol, ul {
    list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: separate;
    border-spacing: 0;
}
caption, th, td {
    text-align: left;
    font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: "";
}
blockquote, q {
    quotes: "" "";
}

/*************************************************************/



/******** Define all custom css for different html tags ******/

button {
    all: unset;
    border-radius: 5px;
    padding: 0.6em 1.2em;
    cursor: pointer;
    font-size: var(--semi-small-font-size);
    font-weight: var(--semi-large-font-weight);
    background: var(--primary-color);
    color: var(--text-color);
}

button:disabled{
    opacity: 0.6;
    cursor: not-allowed;
}

/*input{*/
/*    all: unset;*/
/*}*/

input[type="checkbox"]{
    opacity: 0;
}

input[type="radio"]{
    opacity: 0;
}
/*************************************************************/
